In [1]:
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
-------------------------   FINAL COPY   ---------------------------------------------
-------------------------   FINAL COPY   ---------------------------------------------
-------------------------   FINAL COPY   ---------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------

--**********************************************************************************--
------------------------------------------------------------------------------------
-------------------------------------SCHEMAS----------------------------------------
------------------------------------------------------------------------------------

-- Schemas are created to ensure you can store tables togeher based on commonality
-- Below created dim, stg and f schemas. All 3 we used throughout the course

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'dim' ) 
BEGIN
	EXEC sp_executesql N'CREATE SCHEMA dim AUTHORIZATION dbo;'
END;
GO

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'stg' ) 
BEGIN
	EXEC sp_executesql N'CREATE SCHEMA stg AUTHORIZATION dbo;'
END;
GO

IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'f' ) 
BEGIN
	EXEC sp_executesql N'CREATE SCHEMA f AUTHORIZATION dbo;'
END;
GO

--**********************************************************************************--
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------
-------------------------  DDL - Tables  ---------------------------------------------
--------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------

/*********************************************************/
/******************  Airport DIM DDL   ******************/
/*********************************************************/

-- 322 locations
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dim' AND TABLE_NAME = 'airports')
BEGIN
CREATE TABLE dim.airports(
	AIRPORT_ID nvarchar(50) NOT NULL,
	AIRPORT nvarchar(150) NOT NULL,
	CITY nvarchar(50) NOT NULL,
	STATE nvarchar(50) NOT NULL,
	COUNTRY nvarchar(50) NOT NULL,
	LATITUDE float NULL,
	LONGITUDE float NULL
);
	ALTER TABLE dim.airports
	ADD CONSTRAINT PK_airports PRIMARY KEY (AIRPORT_ID);
END;


/*********************************************************/
/******************  Airline DIM DDL   ******************/
/*********************************************************/
-- 14
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dim' AND TABLE_NAME = 'airlines')
BEGIN
CREATE TABLE dim.airlines(
	AIRLINE_CODE varchar(5) NOT NULL,
	AIRLINE nvarchar(50) NOT NULL,
)
;

	ALTER TABLE dim.airlines
	ADD CONSTRAINT PK_airlines PRIMARY KEY(AIRLINE_CODE);
END;


/*********************************************************/
/******************  Calendar DIM DDL   ******************/
/*********************************************************/

IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dim' AND TABLE_NAME = 'Calendar')
BEGIN
CREATE TABLE dim.Calendar
(
		pkCalendar INT NOT NULL,
		DateValue DATE NOT NULL,
		Year INT NOT NULL,
		Month INT NOT NULL,
		Day INT NOT NULL,

-- NEED TO ADD FIELDS

);
	ALTER TABLE dim.Calendar
	ADD CONSTRAINT pk_Calendar_Julian PRIMARY KEY(pkCalendar);

	ALTER TABLE dim.Calendar
    ADD CONSTRAINT UC_Calendar UNIQUE (DateValue);
END
;


/*********************************************************/
/*********************************************************/
/*******  FACT TABLE - DIM DDL & DML testing   ***********/
/*********************************************************/
/*********************************************************/

IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'f' AND TABLE_NAME = 'FLIGHT_TABLE')
BEGIN
	CREATE TABLE f.FLIGHT_TABLE(
		FlightID INT Identity(1,1) NOT NUll
		, fkCalendar INT NOT NULL
		, fkAIRLINE varchar(5) NOT NULL
		, fkORIGIN_AIRPORT nvarchar(50) NOT NULL --FK_AirportCode?
		, DESTINATION_AIRPORT varchar(5) NOT NULL 
		, Scheduled_Departure time NOT NULL  --LEFT(CAST(SCHEDULED_DEPART as time), 5) 'Scheduled Departure'
		, Departure time NOT NULL  --LEFT(CAST(DEPARTURE as time), 5) 'Departure'
		, Departure_Delay_min int NOT NULL --'Departure Delay (mins)'
		, Scheduled_Arrival time NOT NULL --LEFT(CAST(SCHEDULED_ARRIVAL as time), 5) 'Scheduled Arrival'
		, Arrival_time_local time NOT NULL --LEFT(CAST(ARRIVAL_TIME as time), 5) 'Local Arrival'
		, ARRIVAL_DELAY_min int NOT NULL
		, Flight_Length_min int
		, Total_Time int NOT NULL
		, DIVERTED int NULL
		, CANCELLED	int NULL
);

	ALTER TABLE f.FLIGHT_TABLE
	ADD CONSTRAINT FT_Cal FOREIGN KEY (fkCalendar)
	REFERENCES dim.Calendar

	ALTER TABLE f.FLIGHT_TABLE
	ADD CONSTRAINT FT_AirLi FOREIGN KEY(fkAIRLINE)
	REFERENCES dim.airlines
	
	ALTER TABLE f.FLIGHT_TABLE
	ADD CONSTRAINT FT_AirPo FOREIGN KEY(fkORIGIN_AIRPORT)
	REFERENCES dim.airports

	END